@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>View our <a href="http://localhost:54698/students">Students</a>.</p>
        <p>View our <a href="http://localhost:54698/instructors">Instructors</a>.</p>
        <p>View our <a href="http://localhost:54698/exercises">Exercises</a>.</p>
        <p>View our <a href="http://localhost:54698/cohorts">Cohorts</a>.</p>

    </div>
